:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;

    /* text-colors */
    --main-color: #212121;
    --secondary-color: #757575;
    --accent-color: #2196F3;
    --white-text-color: #FFFFFF;

    /* background-colors */
    --main-bg-color: #FFFFFF;
    --secondary-bg-color: #F5F4FA;
    --dark-bg-color: #2F303A; 
}   

.body {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

/* 
==========================
header-section
==========================
*/
.header {
    background: var(--main-bg-color);
}

.header-contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}

.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--accent-color);
}

.logo-style {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #000000;
}

.nav-list,
.header-contacts {
    list-style-type: none;
}

.header-email,
.header-phone {
    color: currentColor;
    text-decoration: none;
}

.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: currentColor;
    text-decoration: none;
}


.nav-list .nav-link:hover,
.nav-list .nav-link:focus {
    color: var(--accent-color);
}

.nav-list .nav-link:active {
    color: var(--accent-color);
}

.header-contacts .header-email:hover,
.header-contacts .header-email:focus {
    color: var(--accent-color);
}

.header-contacts .header-email:active {
    color: var(--accent-color);
}

.header-contacts .header-phone:hover,
.header-contacts .header-phone:focus {
    color: var(--accent-color);
}

.header-contacts .header-phone:active {
    color: var(--accent-color);
}

/* 
==========================
hero-section
==========================
*/

.hero-section {
    background-color: var(--dark-bg-color);
}

.hero-slogan {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-text-color);
}

.btn {
    cursor: pointer;
    font-family: inherit;
    color: currentColor;
    color: var(--white-text-color);
    background-color: var(--accent-color);
}

/* 
==========================
features-section
==========================
*/

.features-list {
    list-style-type: none;
}

.features-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color)
}

.features-text {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-color)
}

/* 
==========================
activities-section
==========================
*/

.activities-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

.activities-list {
    list-style-type: none;
}

/* 
==========================
team-section
==========================
*/

.team-section {
    background-color: var(--secondary-bg-color);
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

.team-list{
    list-style-type: none;
}

.team-item {
    background-color: var(--main-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

.team-text {
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

/* 
==========================
portfolio-section
==========================
*/

.filter-list,
.portfolio-list {
    list-style-type: none;
}

.filter-btn {
    cursor: pointer;
    color: var(--main-color);
    background-color: var(--secondary-bg-color)
}

.filter-btn:hover,
.filter-btn:focus {
   background-color: var(--accent-color);
   color: var(--white-text-color);
}

.filter-btn:active {
    color: var(--white-text-color);
    background-color: var(--accent-color);
    
}

.portfolio-item {
    background-color: var(--main-bg-color);
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
}

.portfolio-subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    
    letter-spacing: 0.06em;
    color: var(--main-color)
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

/* 
==========================
footer
==========================
*/

.footer {
    background-color: var(--dark-bg-color);
}

.logo-style-footer {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: var(--white-text-color);
}

.footer-address-map {
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-text-color);
    text-decoration: none;
    
}

.footer-email,
.footer-phone {
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-text-color);
    opacity: 60%;
    text-decoration: none;
}

.footer-list .footer-address-map:hover,
.footer-list .ffooter-address-map:focus {
    color: var(--accent-color);
}

.footer-list .footer-email:hover,
.footer-list .footer-email:focus {
    color: var(--accent-color);
}

.footer-list .footer-phone:hover,
.footer-list .footer-phone:focus {
    color: var(--accent-color);
}